body {
  z-index: 99999999;
  height: 100vh;
}

.tool_rectangle, .tool_polygon, .tool_eraser {
  height: 100%;
}

.speed-navigation {
  width: 300px;
  background-color:#0073aa;
}

.layout-main {
  left: 300px;
  top: 1.6rem;
  height: calc(100% - 1.6rem) !important;
}

#speed-main {
  position: static;
}

#map {
  height: auto;
  min-width: auto;
}

#layout-navigation {
  position: absolute;
  height: 100% !important;
}

#navigation {
  display: none;
}

.speed-toolbar {
  display: flex;
  left: 300px !important;
  top: 0;
  color: white;
  font-size: 8pt;
  height: initial;
  color: white !important;
  width: calc(100% - 300px);
}

#grid-settings > div.input-number > label.floorspace-label {
  color: white !important;
}

.speed-grid-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-left: 2% !important;
  padding-left: 3%;
  width: 100%;
  justify-content: space-around;
  .input-checkbox {
    line-height: initial !important;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .input-number > input {
    line-height: initial !important;
    width: 10px;
    font-size: .6rem !important;
    align-self: center;
  }
  input:not([Type]) {
    height: 1rem;
    margin: 0;
    width: 2rem;
  }
  > div > .speed-label {
    line-height: 2rem !important;
    font-size: .6rem !important;
    color: white !important;
    min-height: auto;
  }
  > div > input[type="checkbox"] {
    height: 16px;
    width: 16px;
  }
  > div > input[type="checkbox"]:checked {
    position: static;
    opacity: 1;
    pointer-events: auto;
   }
  > div > input[type="checkbox"]:not(:checked) {
    position: static;
    opacity: 1;
    pointer-events:auto;
    background-color: white;
  }
  .speed-toolbar-input {
      background-color: white !important;
      color: black !important;
      width: 1.2rem !important;
      text-align: center !important;
      border: none;
  }
  #north-input {
    // width: 30% !important;
    background-color: white !important;
    color: black !important;
    text-align: center !important;
    padding: 0;
  }
    #story-below-label {
        text-align: right !important;
    }
}

.speed-undo-redo {
  display: flex;
  flex-direction: column;
  background-color: #585956;
  height: 42px !important;
  text-align: center;
  width: 42px;
}

.speed-flex {
  display: flex;
}

.speed-north-axis {
    display: flex;
    align-content: center;
    line-height: initial !important;
    > div {
      height: initial !important;
      align-self: center;
    }
}

.speed-bottom-toolbar {
  display: flex;
  justify-content: flex-start;
  height: 0 !important;
  position: absolute;
  margin-top: 2.5rem;
}

#toolbar {
  padding-left: 0;
}

#top {
  height: 1.6rem !important;
  width: 100%;
}

#drawing-tools {
  height: auto;
  flex-direction: column !important;
  align-self: flex-start;
  height: 42px !important;
  position: absolute;
  left: -280px;
  svg {
    text-align: center;
    vertical-align: top;
  }
  .speed-drawing-tools-button {
    line-height: 1rem !important;
    background-color: #24292c;
    text-align: center !important;
    width: auto;
  }
}

#redo {
  display: none !important;
}

#undo-redo {
  float: none !important;
  width: 42px !important;
  height: 42px !important;
}

#undo-redo>div.speed-undo-redo>svg:nth-child(1) {
  vertical-align: top;
}

#navigation-head {
  position: absolute;
  left: -280px;
}

.speed-coordinates-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .speed-coordinates-inputs {
    width: 3.2rem !important;
    border: 1px solid grey;
    background-color: white !important;
    color: black !important;
    text-align: center !important;
    font-size: .7rem !important;
  }
}

#speed-modal {
  position: fixed;
  width: 50%;
  top: 25%;
}

.speed-none {
  display: none !important;
}

#autocomplete {
  top: 4rem !important;
  height: initial !important;
}

#speed-modal {
  text-align: center !important;
  height: 400px !important;
}

#speed-modal > div > p:nth-child(1) > a > div.title {
  height: 100px !important;
}

#speed-modal > div > p:nth-child(2) > a > div.title {
  height: 100px !important;
}

#import > div.title {
  height: 100px !important;
}

div#help-text {
  height: initial !important;
}

#toolbar #bottom .tools-list > div {
  background-color: #585956 !important;
}

#toolbar #bottom .tools-list .active {
  background-color: black !important;
}

.input-text > input {
    width: 400px !important;
    height: 1rem !important;
    padding: 1% !important;
}

#lower-case-speed {
  text-transform: lowercase;
  font-size: .7rem !important;
}