body {
  z-index: 99999999;
  height: 100vh;
}

.tool_rectangle, .tool_polygon, .tool_eraser {
  height: 100%;
}

.speed-navigation {
  width: 30%;
  background-color:#0073aa;
}

.layout-main {
  left: 30%;
  top: 2.5rem !important;
  height: calc(100% - 40px) !important;
}

#speed-main {
  position: static;
}

#map {
  height: auto;
  min-width: auto;
}

#layout-navigation {
  position: absolute;
  height: 100% !important;
}

#navigation {
  display: none;
}

.speed-toolbar {
  display: flex;
  flex-direction: column;
  left: auto !important;
  top: 0;
  width: 70%;
  color: white;
  font-size: 12pt;
  height: initial;
  color: white !important;
}

#grid-settings > div.input-number > label.floorspace-label {
  color: white !important;
}

.speed-grid-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999999;
  margin: 0;
  width: 100%;
  justify-content: space-around;
  .input-checkbox {
    line-height: initial !important;
    font-size: 1.3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .input-number > input {
    line-height: initial !important;
    width: 10px;
    font-size: .8em;
    align-self: center;
  }
  input:not([Type]) {
    height: 1rem;
    margin: 0;
  }
  > div > .speed-label {
    line-height: initial !important;
    font-size: 1.3vw;
    color: white !important;
  }
  > div > input[type="checkbox"] {
    height: 16px;
    width: 16px;
  }
  > div > input[type="checkbox"]:checked {
    position: static;
    opacity: 1;
    pointer-events: auto;
   }
  > div > input[type="checkbox"]:not(:checked) {
    position: static;
    opacity: 1;
    pointer-events:auto;
    background-color: white;
  }
}

.speed-undo-redo {
  display: flex;
  flex-direction: column;
  background-color: #585956;
  height: 42px;
  text-align: center;
  width: 42px;
}

.speed-flex {
  display: flex;
}

.speed-north-axis {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 10%;
    height: 95% !important;
    // font-size: 1.1vw;
    background-color: $gray-dark;
    border: 2px solid grey;
    line-height: initial !important;
    > div {
      height: initial !important;
      align-self: center;
    }
}

.speed-bottom-toolbar {
  display: flex;
  justify-content: flex-start;
  height: 0 !important;
}

#toolbar {
  padding-left: 0;
}


#drawing-tools {
  height: auto;
  flex-direction: column !important;
  align-self: flex-start;
  height: 42px !important;
  position: absolute;
  left: -40px;
  svg {
    text-align: center;
    vertical-align: top;
  }
  .speed-drawing-tools-button {
    background-color: #24292c;
    text-align: center;
    width: auto;
  }
}

#redo {
  display: none !important;
}

#undo-redo {
  float: none !important;
  width: 42px !important;
}

#undo-redo>div.speed-undo-redo>svg:nth-child(1) {
  vertical-align: top;
}

#navigation-head {
  position: absolute;
  left: -40px;
}

.speed-coordinates-container {
  height: 100%;
  width: 26%;
  > div {
    line-height: initial !important;
    display: flex;
    flex-direction: row;
    line-height: initial !important;
    height: 100%;
    justify-content: center;
  }
  .speed-coordinates {
    text-align: center !important;
    width: 32%;
    background-color: white !important;
    color: black;
    border: 2px solid grey !important;
    > p {
      margin: 0;
      padding-top: 15%;
      padding-bottom: 15%;
      font-size: 80%;
      text-align: center !important;
    }
  }

}

#speed-modal {
  position: fixed;
  width: 50%;
  top: 25%;
}

.speed-none {
  display: none !important;
}

#autocomplete {
  top: 4rem !important;
  height: initial !important;
}

#speed-modal {
  text-align: center !important;
  height: 400px !important;
}

#speed-modal > div > p:nth-child(1) > a > div.title {
  height: 100px !important;
}

#speed-modal > div > p:nth-child(2) > a > div.title {
  height: 100px !important;
}

#import > div.title {
  height: 100px !important;
}

div#help-text {
  height: initial !important;
}

#toolbar #bottom .tools-list > div {
  background-color: #585956 !important;
}

#toolbar #bottom .tools-list .active {
  background-color: black !important;
}

